In [4]:
from systems.PopularitySystem import * 
from systems.ClassificationSystem import *
#from ContentSystem import *
from systems.ModelSystem import *
from systems.CorrelationSystem import *
from systems.ContentSystem import *
import warnings
warnings.filterwarnings('ignore')

# 1. Popularity Based Recommendation System
### Recommends restaurants by popularity, determined by amount of reviews.

In [5]:
sys = PopularitySystem()
sys.generate_recommendations(5)

,name,address,zip,alcohol,smoking_area,dress_code,accessibility,price,url,placeID
0,Tortas Locas Hipocampo,Venustiano Carranza 719 Centro,78000,No_Alcohol_Served,not permitted,informal,no_accessibility,medium,?,135085
1,puesto de tacos,esquina santos degollado y leon guzman,78280,No_Alcohol_Served,none,informal,completely,low,?,132825
2,Cafeteria y Restaurant El Pacifico,Constitucion 200 Centro,78000,Wine-Beer,section,informal,no_accessibility,medium,?,135032
4,La Cantina Restaurante,Ignacio Aldama 300 Centro,78000,Full_Bar,none,informal,no_accessibility,high,lacantinaslp.com,135052
6,Gorditas Doa Gloria,sevilla y olmedo 715 a,78349,No_Alcohol_Served,not permitted,casual,no_accessibility,low,?,132834

# 2. Correlation Based Recommendation System
### Uses Pearson R Correlation Coefficient to recommend restaurants favored by fans of the input restaurant.

In [6]:
sys = CorrelationSystem()
sys.generate_recommendations(name="Restaurante Tiberius", n=5)

,name,address,zip,alcohol,smoking_area,dress_code,accessibility,price,url,PearsonR,placeID
0,Unicols Pizza,Plaza del Carmen,?,Wine-Beer,none,informal,completely,low,?,1.0,132856
1,crudalia,?,?,Wine-Beer,section,casual,completely,low,?,1.0,132921
2,La Virreina,Av. Carranza 830,?,Wine-Beer,none,informal,no_accessibility,medium,?,1.0,135028
4,La Cantina Restaurante,Ignacio Aldama 300 Centro,78000,Full_Bar,none,informal,no_accessibility,high,lacantinaslp.com,1.0,135052
6,Luna Cafe,Francisco I. Madero 215,?,Wine-Beer,none,informal,no_accessibility,medium,lunacafe.com.mx,1.0,135041

# 3. Classification Based Recommendation System
### Uses Logistic Regression to classify products as "recommend" / "dont' recommend"

In [4]:
sys = ClassificationSystem()
sys

Classification Based Product Recommendation System. Uses Logistic Regression to determine user-product match.

In [5]:
user1 = [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
sys.generate_recommendations(user1)

"User's preferences indicate that they should be recommended this product."

In [6]:
user2 = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0]
sys.generate_recommendations(user2)

"User's preferences indicate that they should NOT be recommended this product."

# 4. Model Based Collaborative Filter
### Uses Truncated Singular Value Decomposition to Find Preferred Movies of Those who Favored the Input Movie

In [7]:
sys = ModelSystem()
print(sys)
sys.generate_recommendations("Die Hard (1988)", 5)

Model Based Movie Recommendation System. Uses Singular Value Decomposition to Analyze Latent Factors Trained: False

['Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Fugitive, The (1993)',
 'Raiders of the Lost Ark (1981)',
 'Empire Strikes Back, The (1980)']

# 5. Content Based Collaborative Filter
### Uses k Nearest Neighbors to recommend similar cars to user preferences

In [8]:
sys = ContentSystem()
pref = [15, 300, 160, 3.2]
sys.generate_recommendations(pref, 5)

,name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
11,Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
12,Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
13,Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
21,Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
22,AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2